js/lambda/destiny-manifest-manager.json
{
	"Comment": "The state machine periodically polls bungie.net to determine if a new version of the Destiny mobile manifest SQLite file is available.",
	"StartAt": "Check Manifest",
	"States": {
		"Check Manifest": {
			"Type": "Task",
			"Resource": "arn:aws:lambda:YOUR-ARN:function:checkManifest",
			"Next": "New Manifest?"
		},
		"New Manifest?": {
			"Type": "Choice",
			"Choices": [
				{
					"Variable": "$.download",
					"BooleanEquals": true,
					"Next": "Download Manifest"
				},
				{
					"Variable": "$.download",
					"BooleanEquals": false,
					"Next": "Old Manifest"
				}
			]
		},
		"Download Manifest": {
			"Type": "Task",
			"Resource": "arn:aws:lambda:YOUR-ARN:function:downloadManifest",
			"Next": "Stage Manifest"
		},
		"Stage Manifest": {
			"Type": "Task",
			"Resource": "arn:aws:lambda:YOUR-ARN:function:loadManifest",
			"End": true
		},
		"Old Manifest": {
			"Type": "Succeed"
		}
	}
}